.layout {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 228, 196, 0.9);
  margin-top: 2em;
}

.name {
  background-color :cadetblue;
}
.author {
  background-color: darkcyan;
}
.content {
  background-color: darkgray;
}
